.second-page-container {
    background-image: url("../../../../media/images/second_plank.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1050px;
}

.header {
    height: 100px;
    padding-top: 50px;
}

.header h1 {
    font-size: 64px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
}

.flex-container-icons {
    display: flex;
    width: 1200px;
    height: 400px;
}

.flex-container-icons, .icon-box {
    margin: 0 auto;
}

.first-flexbox, .second-flexbox, .third-flexbox {
    width: 380px;
    height: 240px;
    margin: 140px 10px 10px 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(245, 245, 245, 0.568);
}

.first-flexbox p, .second-flexbox p, .third-flexbox p {
    position: relative;
    bottom: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.568);
}

.icon-box {
    position: relative;
    bottom: 64px;
    width: 128px;
    height: 128px;
    background-color: #ffec00;
    border-radius: 90px;
}

.first-flexbox h2, .second-flexbox h2,
.third-flexbox h2 {
    position: relative;
    margin: 0px;
    bottom: 60px;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    margin: 20px 0px 0px 24px;
}