{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../media/icons/favicon.ico">
    <link rel="stylesheet" href="{% static 'workout/css/style.css' %}">
    {% block style %} {% endblock style %}
    <title>{% block title %}PlankEveryDay{% endblock title %}</title>
</head>
    
<body>
    <header>
        {% include "inc/_nav.html" %}
    </header>
    
    {% block body %}
    
    {% endblock body %}

    <footer>
        <p>All images are taken from <a href="https://www.freepik.com/">Freepik</a></p>
    </footer>
</body>

{% block script %}

{% endblock script %}

</html>