footer {
    background-color: #333333;
    height: 120px;
}

footer p {
    margin: 0px;
    padding-top: 49px;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    font-style: italic;
}
