.header h1 {
    animation-name: focus-in-expand;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes focus-in-expand {

    0% {
        letter-spacing: -.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

.first-flexbox, .second-flexbox, .third-flexbox {
    animation-name: slide-in-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slide-in-bottom {

    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.icon-box {
    animation-name: rotate-center;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes rotate-center {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.first-flexbox p, .second-flexbox p,
.third-flexbox p {
    animation-name: slide-in-bottom;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slide-in-bottom {

    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.first-flexbox h2, .second-flexbox h2,
.third-flexbox h2 {
    animation-name: slide-in-bottom;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes slide-in-bottom {

    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}